@import "~styles/vars";

.ui-webview-popup {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  .webview-bg {
    background-image: url(../../images/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    .webview-header {
      padding: 20px 0;
      display: flex;
      justify-content: center;
      z-index: 3;
    }
  }
  .spinner {
    width: 116px;
    height: 116px;
    @include center;
    z-index: 10;
    position: absolute;
    background: url(../../images/spinner.gif);
  }
  .webview {
    background: #fff;
    @include center;
    display:flex;
    z-index: 2;
    width: 1800px;
    height: 970px;
    box-shadow: 0px -4px 24px 6px rgba(194,194,194,1);
  }
  .close-but {
    position: absolute;
    cursor: pointer;
    top: 40px;
    right: 40px;
    z-index: 5;
    img {
      width: 50px;
      height: 50px;
    }
  }

}
