@import "~styles/vars";

.section-home {
  background-image: url(../../images/bg.jpg);
  overflow: hidden;
  .header {
    display: flex;
    position: relative;
    justify-content: center;
    top: 40px;
  }
  .buttons-container {
    @include center;
    top: 52%;
    z-index: 1;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px -4px 30px 10px rgba(128,128,128,1);
  }

}
