@import "~normalize.css/normalize.css";

@import "~styles/vars";
@import "~styles/fonts";

html, body {
  -webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	background: #000;
	font-family: Helvetica, sans-serif;
	color: #fff;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
