@import "../lib/breakpoint-sass/stylesheets/breakpoint";

$phone: 300px 727px;
$tablet: 728px 1024px;
$phone-tablet: 300px 1024px;
$desktop: 1025px 1399px;
$desktop-all: 1025px;
$large-desktop: 1400px;

$grey: #adb0b3;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;           /* Non-prefixed version */
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
